@using MegaManWorld;
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
    <script type="text/javascript" src="~/js/MegaMan.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body style="background-image: url(../img/@Model.BackgroundImg)">


    <div class="container">
        <button id="feed" type="button" name="button"></button>
        <button id="train" type="button" name="button"></button>
        <ul id="stats">

    </div>
  </body>
</html>
