@using MegaManWorld;
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/Animate.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>


    <div class="container">

      <div id="demo">
        <p id="image" onmouseover="animateScript()" onmouseout="stopAnimate()">
        </p>
      </div>

      @foreach (MegaWorld world in MegaData.worlds)
      {
        <a href="/worlds/@world.Route" role="button" class="btn btn-dark">
        <h2>@world.Name</h2>
        <hr>
          <img src="~/img/stages/@world.WorldImg"/>
        </a>
      }

      @* <a href="/adventurebag" role="button" class="btn btn-dark"><h2>Adventure Bag</h2></a>
      <a href="/stable" role="button" class="btn btn-dark"><h2>Stable</h2></a>
      <a href="/noticeboard" role="button" class="btn btn-dark"><h2>Notice Board</h2></a>
      <a href="/greenforce" role="button" class="btn btn-dark"><h2>Greenforce</h2><h2>Deliveries</h2></a> *@
    </div>
  </body>
</html>
